<div class="container mx-auto p-2 text-[16px]">
  <div class="flex items-center justify-between">
    <!-- logo -->
    <a href="/">
      <img
        src="assets/images/logo.png"
        alt="logo image"
        width="120"
        height="120"
      />
    </a>

    <!-- nav -->
    <nav>
      <ul class="flex items-center gap-2 text-xl text-gray-700 font-bold">
        <li class="hover:bg-blue-50 hover:text-violet-900 px-3 py-2 rounded-md">
          <a href="">Home</a>
        </li>
        <li class="hover:bg-blue-50 hover:text-violet-900 px-3 py-2 rounded-md">
          <a href="">Booking</a>
        </li>
        <li class="hover:bg-blue-50 hover:text-violet-900 px-3 py-2 rounded-md">
          <a href="">Contact</a>
        </li>
      </ul>
    </nav>

    <!-- search -->
    <div>
      <form class="relative">
        <input
          class="bg-blue-50 border-blue-50 border text-neutral-400 rounded-[50px] w-80 h-14 px-4 font-semibold focus:border-violet-600"
          type="text"
          placeholder="Search..."
        />
        <button
          class="absolute top-0 right-0 w-14 h-14 bg-violet-600 text-white rounded-full cursor-pointer hover:bg-violet-900 transition duration-300 ease-in-out"
        >
          <i class="ri-search-line"></i>
        </button>
      </form>
    </div>
  </div>
</div>
